// Initial variables go here
// See https://bulma.io/documentation/customize/variables/

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #4099ff;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

$info: #84bee6;

$success: #d7ffe8;
$success-hover: #c2fada;
$success-fontcolor: #277248;

$danger: #ffd3d3;
$danger-hover: #ffc5c5;
$danger-fontcolor: #972d2d;

$warning: #ffefbf;
$warning-hover: #ffe69d;
$warning-fontcolor: #836e2e;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: ("white": ($white,
    $black),
  "black": ($black,
    $white),
  "light": ($light,
    $light-invert),
  "dark": ($dark,
    $dark-invert),
  "primary": ($primary,
    $primary-invert),
  "info": ($info,
    $info-invert),
  "success": ($success,
    $success-invert),
  "warning": ($warning,
    $warning-invert),
  "danger": ($danger,
    $danger-invert),
  "twitter": ($twitter,
    $twitter-invert));

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$card-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1),
0 0px 0 1px rgba(0, 0, 0, 0.02);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

// We want nicer cards

.card,
.card-header {
  border-radius: 10px;
}

.card-header.warning {
  background: $warning;
}

.card-header.danger {
  background: $danger;
}

.card-header.info {
  border-radius: 5px;
  background: $info;
}

.card-header.light {
  background: $light;
}
